/* font-family: 'PF Bague Sans Pro Bold'
font-family: 'PF Bague Sans Pro'
font-family: 'PF Bague Sans Pro Medium'
font-family: 'PF Bague Sans Pro Light' */
body {
  background: #260126;
  color: #DE4400;
  align: center;
}
body .title {
  font-family: 'PF Bague Sans Pro Bold';
  text-shadow: -1px 1px 1px #fff;
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 10px;
  padding: 65px;
  text-align: center;
}
body .media {
  font-family: 'PF Bague Sans Pro Medium';
  border: solid #FFD900;
  padding: 0px;
  color: #FFD900;
}
body .media:hover {
  box-shadow: -5px 5px 5px #fff;
}
body .media-object {
  padding: 40px;
}
body .media-body {
  padding: 40px;
}
.link-unstyled {
  color: inherit;
  text-decoration: inherit;
}
.link-unstyled:link {
  color: inherit;
  text-decoration: inherit;
}
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}
